.field{
    display: block;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: auto;
    border: 1px solid rgb(248, 216, 216);
    background: rgb(248, 220, 220);
    width:250px;
    height: 250px;
    border-radius: 8px;
    
}

.form1{
    display: block;

}

input{
    margin-top:5px;
    margin-bottom: 5px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    width: 250px;
    padding: 5px 5px;

}
#btn{

   
    margin-bottom: 10px;
    padding: 5px 5px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 70px;
    border-radius: 6px;
    border: 1px solid rgb(208, 189, 189);
}
img{
    width:100px;
    height:80px;
    background:rgb(198, 218, 242) ;
    
}
#header-one{
    
    background: rgb(198, 218, 242);
    
    height:80px;
    
}
#menu{
    display: flex;
    position: absolute;
    top: 40px;
    left: 150px;

}
.icon{
    margin-left:10px;
    margin-right:10px;
    /*border:1px solid rgb(107, 107, 247);*/
    background: rgb(194, 194, 244);
    padding: 5px 5px;
    border-radius: 5px;
}
.drop{
    display: block;
    background: grey;
    z-index:10;
}